@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #605E87;
}

header {
    height: 10vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 90px;
    height: 50px;
    transition: width 1s;
    cursor: pointer;
    overflow: hidden;
}

#logo:hover {
    width: 230px;
}

header h1 {
    color: azure;
    display: flex;
    gap: 10px;
}

header h1 .logo {
    color: #FED187;
}

header .buttons {
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

header .buttons .btn {
    height: 40px;
    width: 40px;
    border: 2px solid azure;
    border-radius: 50%;
    color: azure;
    background-color: #605E87;
    cursor: pointer;
}

header .buttons .btn:hover {
    background-color: #FE5366;
    border: none;
    transition: 1s;
}

header .buttons .btn a {
    color: azure;
    text-decoration: none;
    font-size: 18px;
}

main {
    width: 90%;
    height: 59vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
}

aside {
    width: 100%;
    display: flex;
    align-items: center;
}

section {
    background:
        radial-gradient(#8A89A9 15%, transparent 16%) -8px 20px,
        radial-gradient(#8A89A9 15%, transparent 16%) 8px 8px;
    background-size: 26px 26px;
    width: 90%;
    height: 400px;
    text-align: center;
    color: azure;
}

section h1 {
    color: #FED187;
    margin: 62px auto 20px;
}

section p {
    font-size: 18px;
}

section .form {
    width: 80%;
    height: 220px;
    margin: 35px auto 0;
}

section .form input {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-bottom: 20px;
}

section .form input[type="submit"] {
    background-color: #5DD883;
    outline: 0;
    border: 0;
    color: azure;
    font-weight: bold;
    font-size: 18px;
}

/*
#ff3f54
#fd5668
*/
footer {
    width: 100%;
    height: 16vh;
    background-color: #ff6678;
    transition: height 2s;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
}

footer .footer {
    width: 90%;
    height: 12vh;
    margin: 0 auto;
    align-self: center;
}

footer .footer p {
    color: azure;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.w3-light-grey {
    background-color: #f1f1f1;
    text-align: center;
    height: 40px;
}

.w3-green {
    color: #fff;
    background-color: #5DD883;
    height: 40px;
    line-height: 40px;
    transition: width 2s;
    width: 2%;
    font-weight: bold;
}

@media (max-width: 950px) {
    main {
        height: 90vh;
        grid-template-columns: 100%;
    }

    footer {
        bottom: -340px;
    }

}

@media (max-height: 800px) {}